
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VehicleMenu</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angular")
</head>
<body ng-app="myModule">

    <div class="container" ng-controller="vehicleController">

        <div class="row">

            <div class="alert alert-dismissible alert-info">
                <h2> {{ headingTitle }} </h2>
            </div>
            <div>
                <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1" spinner-start-active="true"></span>
            </div>

        </div>

        <div class="row">
            <div class="alert alert-dismissible alert-danger">
                <span>{{status}}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 vehicleClass">
                <table class="table table-striped table-hover ">

                    <legend>Vehicle List</legend>

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vehicle in GetAllVehicles" ng-click="ShowVehicleDetail(vehicle)" role="button">
                            <td>{{vehicle.Id}}</td>
                            <td>{{vehicle.Make}}</td>
                            <td>{{vehicle.Model}}</td>
                            <td>{{vehicle.Year}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-lg-10 col-lg-offset-2">
                    <button type="button" ng-click="ReloadAllVehicles()" class="btn btn-warning">Reload Vehicle List</button>
                </div>

            </div>

            <div class="col-md-4 vehicleClass">
                <form class="form-horizontal" name="VehicleForm">
                    <fieldset>
                        <legend>Vehicle Details:</legend>
                        <div class="form-group">
                            <label for="Id" class="col-lg-2 control-label">Id:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" data-ng-model="Vehicle.Id" disabled="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="VehicleYear" class="col-lg-2 control-label">Year:</label>
                            <div class="col-lg-10">
                                <input class="form-control "
                                       type="number"
                                       name="VehicleYear"
                                       ng-model="Vehicle.Year"
                                       min="1950"
                                       max="2050" />
                            </div>
                        </div>
                        <div ng-messages="VehicleForm.VehicleYear.$error" ng-if="VehicleForm.VehicleYear.$touched">
                            <p ng-message="min">Year cannot be below 1950.</p>
                            <p ng-message="max">Year cannot be above 2050.</p>
                        </div>

                        <div class="form-group">
                            <label for="VehicleMake" class="col-lg-2 control-label">Make:</label>
                            <div class="col-lg-10">
                                <input class="form-control "
                                       type="text"
                                       name="VehicleMake"
                                       ng-model="Vehicle.Make"
                                       ng-maxlength="100"
                                       required />
                            </div>
                        </div>
                        <div ng-messages="VehicleForm.VehicleMake.$error" ng-if="VehicleForm.VehicleMake.$touched">
                            <p ng-message="required">Make cannot be empty.</p>
                            <p ng-message="maxlength">Length cannot be more than 100.</p>
                        </div>

                        <div class="form-group">
                            <label for="VehicleModel" class="col-lg-2 control-label">Model:</label>
                            <div class="col-lg-10">
                                <input class="form-control "
                                       type="text"
                                       name="VehicleModel"
                                       ng-model="Vehicle.Model"
                                       ng-maxlength="100"
                                       required />
                            </div>
                        </div>
                        <div ng-messages="VehicleForm.VehicleModel.$error" ng-if="VehicleForm.VehicleModel.$touched">
                            <p ng-message="required">Model cannot be empty.</p>
                            <p ng-message="maxlength">Length cannot be more than 100.</p>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="button" ng-click="UpdateVehicle()" class="btn btn-primary">Update</button>
                                <button type="button" ng-click="DeleteVehicle()" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>

            <div class="col-md-4 vehicleClass">
                <form class="form-horizontal" name="NewVehicleForm">
                    <fieldset>
                        <legend>Create New Vehicle:</legend>

                        <div class="form-group">
                            <label for="NewVehicleYear" class="col-lg-2 control-label">Year:</label>
                            <div class="col-lg-10">
                                <input class="form-control "
                                       type="number"
                                       name="NewVehicleYear"
                                       ng-model="NewVehicle.Year"
                                       min="1950"
                                       max="2050" />
                            </div>
                        </div>
                        <div ng-messages="NewVehicleForm.NewVehicleYear.$error" ng-if="NewVehicleForm.NewVehicleYear.$touched">
                            <p ng-message="min">Year cannot be below 1950.</p>
                            <p ng-message="max">Year cannot be above 2050.</p>
                        </div>

                        <div class="form-group">
                            <label for="NewVehicleMake" class="col-lg-2 control-label">Make:</label>
                            <div class="col-lg-10">
                                <input class="form-control "
                                       type="text"
                                       name="NewVehicleMake"
                                       ng-model="NewVehicle.Make"
                                       ng-maxlength="100"
                                       required />
                            </div>
                        </div>
                        <div ng-messages="NewVehicleForm.NewVehicleMake.$error" ng-if="NewVehicleForm.NewVehicleMake.$touched">
                            <p ng-message="required">Make cannot be empty.</p>
                            <p ng-message="maxlength">Length cannot be more than 100.</p>
                        </div>

                        <div class="form-group">
                            <label for="NewVehicleModel" class="col-lg-2 control-label">Model:</label>
                            <div class="col-lg-10">
                                <input class="form-control "
                                       type="text"
                                       name="NewVehicleModel"
                                       ng-model="NewVehicle.Model"
                                       ng-maxlength="100"
                                       required />
                            </div>
                        </div>
                        <div ng-messages="NewVehicleForm.NewVehicleModel.$error" ng-if="NewVehicleForm.NewVehicleModel.$touched">
                            <p ng-message="required">Model cannot be empty.</p>
                            <p ng-message="maxlength">Length cannot be more than 100.</p>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="button" ng-click="CreateVehicle(NewVehicle)" class="btn btn-warning">Create</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>

    </div>

    <script src="~/Scripts/spin.js"></script>
    <script src="~/Scripts/angular-spinner.js"></script>
</body>
</html>
